<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DemoApplication</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DemoApplication.styles.css" asp-append-version="true" />
    <!-- Add your CSS and other head elements here -->
</head>
<body>
    <div id="nav">
        <ul>
            <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li><a asp-controller="Home" asp-action="Index1">About</a></li>
            <li><a asp-controller="Home" asp-action="Privacy">Contact</a></li>
            <!-- Add more menu items as needed -->
        </ul>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @*  <div id="content">
        @RenderBody()
    </div> *@
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - DemoApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Add your scripts and other body elements here -->
</body>
</html>
